:root {
  --grey-pry: #eaecf0;
  --text-color-pry: #475467;
  --text-title-color: #475467;
  --black: #101828;
  --blue-pry: #1570ef;
  --box-shadow:  0px 1px 2px rgba(16, 24, 40, 0.05);
  --border: 1px solid #D0D5DD;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: 'Inter', sans-serif;
  font-size: clamp(1rem, 0.8rem + 0.5vw, 2rem);
}
p {
  color: var(--text-color-pry);
}
button {
  padding: 0.7rem 0.7rem;
  border: 1px solid transparent;
  border-radius: 6px;
}

.wrapper {
  padding: 2rem 1rem 0 1rem;
}
/* profile */
header {
  position: relative;
}
#slack {
  display: none;
}
.img-container {
  text-align: center;
}
.img {
  height: 5rem;
  width: 5rem;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 1.5rem;
  position: relative;
}
.img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  margin: 0 auto;
  object-fit: fill;
}
.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  border-radius: 50%;
  background: linear-gradient(
    0deg,
    rgba(52, 64, 84, 0.75),
    rgba(52, 64, 84, 0.75)
  );
}
.camera-icon {
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: center;
  transform: translateY(-150%);
  align-items: center;
}
.camera-icon img {
  height: 1.5rem;
  width: 1.5rem;
}
.share-icon {
  display: flex;
  justify-content: center;
  text-align: center;
  border: 1px dashed #d0d5dd;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  position: absolute;
  top: 5%;
  right: 10%;
  cursor: pointer;
}
.tablet-share {
  display: none;
}
@media (min-width: 600px) {
  .tablet-share {
    display: block;
  }
  .mobile-share {
    display: none;
  }
}

/* Links */
.links {
  padding: 2rem 1rem 3.5rem 1rem;
}
.link button {
  width: 100%;
  margin-bottom: 1.5rem;
  background-color: transparent;
  border: none;
}
.link button a {
  width: 100%;
  padding: 1.8rem;
  display: block;
  background-color: #eaecf0;
  border-radius: 6px;
  text-transform: capitalize;
  transition: all 0.3s ease-in-out;
  font-weight: 600;
}
.link button a:hover {
  background-color: #d0d5dd;
  transform: scale(1.01);
}
a {
  text-decoration: none;
  color: #101828;
}
.social-icons {
  text-align: center;
  margin-top: 1.5rem;
}
.social-icons a {
  margin-right: 1rem;
}
@media (min-width: 600px) {
  .links {
    padding: 4rem;
  }
}

/* footer */
footer {
  padding-bottom: 2rem;
}
hr {
  border: 0.0001rem dashed #d0d5dd;
  margin-bottom: 2rem;
}
footer p {
  margin: 1rem 0;
  color: #667085;
  font-size: 0.8rem;
}

@media (min-width: 760px) {
  footer {
    padding: 2rem;
  }
  .footer-content {
    display: flex;
    justify-content: space-between;
  }
}

.hidden {
  display: none;
}

/* Contacts Page */
.contact-wrapper {
  padding: 2rem 1rem;
}
.contact-wrapper h1 {
  margin-bottom: 1rem;
  color: var(--black);
}
.contact-header {
  margin-bottom: 1.5rem;
}
.form-control {
  /* border: 1px solid rebeccapurple; */
  margin-bottom: 1.5rem;
}
.form-control label {
  display: block;
  margin-bottom: 0.2rem;
  color: var(--text-title-color);
}
.form-control input {
  display: block;
  padding: 0.6rem;
  width: 100%;
  border: 1px solid #d0d5dd;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  font-size: inherit;
}

.textarea {
  width: 100%;
  margin-bottom: 1.5rem;
}
.textarea textarea {
  border: var(--border);
  box-shadow: var(--box-shadow);
  border-radius: 8px;
  width: 100%;
  padding: 1rem;
  font-size: inherit;
  font-family: inherit;
  resize: none;
}
.agreement {
  display: flex;
  align-items: flex-start;
  margin-bottom: 2.5rem;
}
.agreement p {
  font-size: 0.9rem;
}
.agreement input {
  margin-right: 0.5rem;
}
.contact-submit {
}
.contact-submit button {
  width: 100%;
  background-color: var(--blue-pry);
  color: white;
  font-size: inherit;
}
